<!DOCTYPE html>
<html lang="he" dir="rtl">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>התחברות</title>
  <link rel="stylesheet" href="../style/dist/login.css" />
  <script src="../controller/dist/login.js" defer></script>
</head>
<body>
  <div class="form-container">
    <h2>התחברות</h2>
    <form id="loginForm">
      <input type="email" placeholder="אימייל" name="email" required />
      <input type="password" placeholder="סיסמה" name="password" required />
      <button type="submit">התחבר</button>
    </form>
  </div>
</body>
</html>
